@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --beige-color: #D5D8C7;
}

body {
  background-color: var(--beige-color);
}

h1 {
  font-weight: 400;
  font-size: 48px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}


