@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-optical-sizing: auto;
}

:root {
  --background-color: #2D2D2D;
  --white: #fff;
  --accent-grey: #454545;
  --white-50-opacity: #ffffff50;
  --accent-grey-50-opacity: #45454550;
  --mint-green: #A8D5BA;
}

body {
  background-color: var(--background-color);
}

.highlight {
  color: #E3D326;
}

h1,h2,h3,h4,p,a,span {
  color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.nav-link {
  color: #fff;
}

.line {
  width: 95%;
  height: 1px;
  border: 1px dotted #fff;
  margin: 0 auto;
}

.container {
  padding: 4rem 0;
}

.row {
  padding: 0 32px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.heading {
  margin-bottom: 32px;
}

.heading-1 {
  text-align: center;
  margin-bottom: 8px;
}

.sub-heading-1 {
  text-align: center;
}

.heading-2 {
  margin-bottom: 8px;
}

.sub-heading {
  font-size: 14px;
}

.meaning {
  margin-bottom: 16px;
  color: #fff;
}

.italic {
  font-style: italic;
}

/* buttons */
.button-green {
  background-color: var(--mint-green);
  padding: 4px 16px;
  display: block;
  color: var(--background-color);
  border: 1px solid transparent;
  border-radius: 32px;
  text-align: center;

  transition: background-color 300ms ease, color 300ms ease, border 300ms ease;
}

.button-white {
  background-color: #fff;
  display: block;
  padding: 4px 16px;
  border-radius: 32px;
  color: #000;
  border: 1px solid transparent;

  transition: background-color 300ms ease, color 300ms ease, border 300ms ease;
}

.button-green:hover,
.button-white:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

/* animations */
@keyframes scroll {
  0%, 100% {transform: translateY(-6px);}

  50% {transform: translateY(-32px);}
}

@keyframes appear {
  0% {
    transform: translateX(0); 
    opacity: 0
  };
  50% {
    opacity: opacity 1;
  }
  100% {
    transform: translateX(48px);
  }
}

@keyframes appear-down {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  
  100% {
    transform: translateY(80px);
    opacity: 1;
  }
}

@keyframes appear-up {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(-100px);
  }
}

@keyframes rotate {
  100% {transform: rotate(-360deg);}
}

/* nav | hero */
#home {
  position: relative;
  padding: 24px;
  width: 100%;
  height: 100vh;
}

#hero-video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 24px;
}

.hero-overlay {
  position: absolute;
  inset: 24px;
  border-radius: 20px;
  background-color: #00000050;
}

.hero-container {
  padding: 24px;
  position: absolute;
  top: 50%;
  left: 48px;
  transform: translateY(-50%);
  color: #fff;
  background-color: var(--accent-grey-50-opacity);
  backdrop-filter: blur(2px);
  border-radius: 16px;
}

#company_name {
  font-size: 96px;
  font-weight: 400;
}

.hero_text {
  position: absolute;
  bottom: 100px;
  right: 56px;
  color: #fff;
  width: 250px;
  line-height: 2rem;
}

nav {
  position: fixed;
  z-index: 100;
  top: 56px;
  left: 48px;
  right: 48px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo-wrapper span {
  color: #fff;
  font-size: 12px;
}

.hero_btn-container {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}

.scroll_down {
  position: absolute;
  border: 1px solid #fff;
  width: 16px;
  height: 48px;
  bottom: 56px;
  left: 50%;
  border-radius: 32px;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.scroll_down:hover {
  cursor: pointer;
}

.scroll_down:hover .dot {
  background-color: var(--mint-green);
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 20px;
  animation: scroll 4s ease-in-out infinite;

  transition: background-color 300ms ease;
}

/* about */
.type {
  color: var(--white-50-opacity);
  margin-bottom: 8px;
}

.about-text {
  color: #fff;
  line-height: 2rem;
  margin-bottom: 16px;
}

.signature {
  color: #fff;
  margin-top: 56px;
}

#key_features {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
}

.key_feature-container {
  width: 500px;
}

.key_feature_dropdown-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.key_feature_dropdown {
  border-bottom: 1px dotted var(--white-50-opacity);
  height: 50px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.feature_name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.website-tab,
.website-container {
  width: 750px;
}

.website-container {
  position: relative;
}

.website-text {
  position: absolute;
  top: 130px;
  left: 0px;
  font-size: 18px;

  animation: appear 1.5s forwards;
}

.website-text--2 {
  position: absolute;
  top: 160px;
  left: 0px;
  width: 300px;
  font-size: 12px;

  animation: appear 2s forwards;
}

.website-btn,
.website-btn-2 {
  position: absolute;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 4px 12px;
  color: #fff;
  border-radius: 16px;
  animation: appear-up 3s forwards;
  bottom: 0;
  transition: all 300ms ease;
}

.website-btn {
  left: 48px;
}

.website-btn-2 {
  left: 124px;
}

.website-btn:hover,
.website-btn-2:hover,
.li-4:hover {
  background-color: var(--mint-green);
  border: transparent;
  cursor: pointer;
  color: #000;
}

.website-list {
  position: absolute;
  top: 0px;
  right: 32px;
  display: flex;
  gap: 24px;
  align-items: center;
  font-size: 14px;
}

.li-1 {
  animation: appear-down 2.5s forwards;
}

.li-2 {
  animation: appear-down 2s forwards;
  
}

.li-3 {
  animation: appear-down 1.5s forwards;
}

.li-4 {
  animation: appear-down 1.3s forwards;
  border: 1px solid #fff;
  padding: 4px 16px;
  border-radius: 24px;

  transition: all 300ms ease;
}

.li-4:hover a {
  color: #000;
}


/* why us */
.why_row {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.reason-box {
  width: 100%;
  height: 300px;
  background-color: var(--accent-grey);
  padding: 32px 80px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.reason_text-container {
  width: 600px;
}

.reason-text {
  margin-top: 24px;
}

.cogs {
  display: flex;
  flex-direction: column;
  align-items: safe;
}

.cog {
  animation: rotate 10s infinite alternate;
  transform-origin: center;
}

.cog-2 {
  animation: rotate 10s infinite alternate;
  transform-origin: center;
}


/* services */
#services {
  padding-top: 8rem;
}

.service-container {
  border: 1px solid var(--white-50-opacity);
  width: 95%;
  margin: 0 auto;
  border-radius: 8px;
}

.service-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 80px;
}

.service-box {
  width: 500px;
  padding: 24px;
  background-color: var(--accent-grey-50-opacity);
  backdrop-filter: blur(2px);

  display: flex;
  flex-direction: column;
}

.service-name {
  font-size: 18px;
  margin-bottom: 16px;
}

.learn-more {
  align-self: flex-end;
  margin-top: 48px;
}